<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          type="text/javascript"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
          type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
  <script type="text/javascript" src="static/js/index.js"></script>
  <script type="text/javascript" src="static/js/out/main.js"></script>

  <title>Ledger-cli GUI</title>
</head>
<body>
    <div class="chart-container pie-container">
        <div class="input-container">
            <div class="input-line" >
                <span class="command">ledger balance <input type="text" class="command pie-input input-command" id="pie-command" /></span>
            </div>
            <div>
                <span>Depth: <input type="number" class="command pie-input" id="pie-depth" value="2"/></span>
            </div>
        </div>
        <canvas id="pie-canvas" width="400px" height="400px"></canvas>
    </div>
    <div id="line-chart-container" class="chart-container line-container">
        <div class="input-container">
            <input type="radio" name="sum-type" class="line-input" value="sum" id="radio-sum" checked /><label for="radio-sum">Sum</label>
            <input type="radio" name="sum-type" class="line-input" value="running-sum" id="radio-running-sum" /><label for="radio-running-sum" >Running Sum</label>
            <select class="line-input" id="group-by">
                <option>--daily</option>
                <option>--weekly</option>
                <option selected>--monthly</option>
                <option>--quarterly</option>
                <option>--yearly</option>
            </select>
            <div class="accounts-input-container">
                <div class="input-line">
                    <span class="command">account: <input type="text" class="command account-input input-command line-input" /></span>
                </div>
                <button id="add-linechart-account">+</button>
            </div>
        </div>
        <canvas id="line-canvas" width="400px" height="400px"></canvas>
    </div>
</body>
